{
  "presets": ["next/babel"],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@components": "./src/components",
          "@theme": "./src/theme",
          "@pages": "./src/pages",
          "@typings": "./src/typings"
        }
      }
    ]
  ]
}
